body {
  /* margin: 2rem 13rem 0rem 13rem; */
}
.toggle_language {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.topButtons {
  display: flex;
  justify-content: flex-end;
}
.headerDiv {
  margin-bottom: 5rem;
}

.profileAndAbout {
  display: flex;
}

.viewGithub {
  justify-content: space-between;
}
.projects-boxes {
  display: flex;
  flex-wrap: wrap;
}

.skillsSection {
  display: flex;
}
