.allPage {
  margin: 0 auto;
  max-width: 65%;
}
.toggle_language {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
.topButtons {
  display: flex;
  justify-content: flex-end;
}
.headerDiv {
  margin-bottom: 5rem;
}

.skillsSection {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
}
.skills-js {
  flex-basis: 290px;
}
.skills-react {
  flex-basis: 290px;
}
.skills-node {
  flex-basis: 290px;
}

.profileAndAbout {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
.profile {
  flex-basis: 290px;
}
.aboutMe {
  flex-basis: 600px;
}

.viewGithub {
  justify-content: space-between;
}
.projects-boxes {
  display: flex;
  flex-wrap: wrap;
}

.footerSection {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
}
.footerSlogan {
  flex-basis: 1000px;
}
.footerLinks {
  flex-basis: 1500px;
  flex-wrap: wrap;
}
.footer-links {
  justify-content: space-around;
}
.footerForm {
  flex-basis: 1700px;
  flex-wrap: wrap;
  justify-content: center;
}
